body {
    width: 100%;
    height: 100%;
} 
.menu-principal {
width: 100%;
background-color: #252323;
height: 190px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.redes-sociais ul li{
    width: 20%;
    float: right;
    padding-bottom: 8px;


}